main {
    wa-button:not([pill=""]):not(:has(wa-icon)) {
        min-width: 30%;
    }

    section {
        text-align: center;
    }

    form .actions {
        display: flex;
        justify-content: space-between;
        &:has(wa-button:first-child:last-child) {
            justify-content: end;
        }

        wa-button {
            margin-top: var(--wa-space-l);
        }
    }

    .nowrap {
        white-space: nowrap;
    }

    tbody tr.editable {
        cursor: pointer;
        user-select: none;
    }

    form table {
        margin-top: var(--wa-space-l);

        tr:first-child {
            border-top: none;
        }
    }
}
