main {
    form {
        margin-bottom: var(--wa-space-m);
    }

    wa-input {
        min-width: 332px;

        wa-icon {
            color: black;

            @media (prefers-color-scheme: dark) {
                color: white;
            }
        }
    }

    ol {
        list-style-type: none;
        margin-inline-start: 0;
    }
}
