main.wa-stack {
    align-items: center;

    wa-card {
        margin-top: var(--wa-space-l);
        width: 650px;

        @media (width < 768px) {
            margin-top: 0;
            border: none;
            box-shadow: none;
            width: 100%;
        }

        h1 {
            margin: 0;
        }
    }

    wa-dropdown {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    tbody tr:hover {
        background-color: var(--wa-color-neutral-fill-quiet);
    }
}
