main {
    padding-top: var(--wa-space-l);

    @media (width < 768px) {
        padding-top: 0;
    }
}

main.wa-stack {
    align-items: center;

    wa-card {
        width: 650px;

        @media (width < 768px) {
            border: none;
            box-shadow: none;
            width: 100%;
        }

        h1 {
            margin: 0;
        }
    }

    wa-dropdown {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    tbody tr:hover {
        background-color: var(--wa-color-neutral-fill-quiet);
    }
}

main.wa-grid {
    @media (width < 768px) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    padding: 30% 10% 0 10%;

    section {
        font-size: 1.2rem;
        text-align: center;

        & > wa-button {
            font-size: 2rem;
            width: 100%;
        }
    }
}
