main {
    padding: 0;
    font-size: var(--wa-font-size-l);
}

section {
    min-height: 100vh;

    display: flex;
    justify-content: center;

    &:not(:has(img)) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

label {
    cursor: pointer;
    user-select: none;

    &:hover {
        text-decoration: underline;
    }
}

input[type="file"] {
    display: none;
}

wa-progress-ring {
    max-width: 80%;
    --size: 30rem;
    --track-width: 1.5rem;
    --indicator-width: 2rem;
}

section:has(img) {
    @media not print {
        background-color: #222222;
    }

    img {
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 0;
        max-height: 100%;
    }

    wa-button-group {
        position: absolute;
        bottom: 5rem;

        &[orientation="vertical"] {
            display: none;
        }
        
        @media (width < 768px) {
            &[orientation="horizontal"] {
                display: none;
            }

            &[orientation="vertical"] {
                display: initial;
            }
        }

        @media (width < 400px) {
            &[orientation="vertical"] {
                display: none;
            }

            &[orientation="horizontal"] {
                display: initial;
                bottom: .4rem;

                wa-button {
                    &::part(label) {
                        display: none;
                    }
                    wa-icon {
                        margin-inline-end: 0;
                    }
                }
            }
        }
    }
}

@media print {
    wa-button-group {
        display: none;
    }
}